@model ToDoApplication.Models.ToDo


@{
    ViewData["Title"] = "Home Page";
    List<ToDo> todos = ViewBag.Todos;
}


<div>
    <div>
        <form asp-action="Create" asp-controller="Home" method="post" class="row g-3 align-items-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1>Create a task</h1>
            <div class="col-auto">
                <input type="text" placeholder="Enter task" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-auto">

                <input type="checkbox" class="form-check-input" asp-for="IsComplete">
                <label>The task is complete</label>
            </div>
            <div class="col-auto">
                <input type="submit" value="Create" class="btn btn-primary mb-3" />
            </div>
        </form>
    </div>
</div>

<h1 class="d-flex display-5 justify-content-center" >To Do List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Task
            </th>

            <th>
                IsComplete
            </th>
            <th>
                CompletionDate
            </th>
            <th>
                Complete Task
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (ToDo item in todos)
        {

            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @if (@item.IsComplete == false)
                    {
                       <span class="text-danger">No</span>
                    }
                    else
                    {
                 <span class="text-success">Yes</span>
                    }

                </td>
                <td>
                    @item.CompletionDate
                </td>
                <td>
                    @if (@item.IsComplete == false)
                    {
                        <form asp-action="Update_Status" asp-route-id="@item.ID">
                            <input type="checkbox" name="taskStatus" class="form-check-input" id="exampleCheck" asp-for="IsComplete" onclick="this.form.submit()" />
                            <label class="form-check-label" for="exampleCheck1">
                                The task is complete
                            </label>
                        </form>
                    }
                    else
                    {
                        <span class="badge bg-success">Done</span>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>

